.sign-in-content{
    display: grid;
    align-self:center;
    text-align: center;
    padding: 10%;
    margin: auto;
    background: lightgray;
    border-radius: 4%;
}

.sign-in-wrapper{
    display: grid;
    justify-content:center;
    align-content: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
}